name: Ubuntu 22.04 build with debian ros packages along with source packages

on:
  push:
  workflow_dispatch:

jobs:
  ubuntu2204:
    runs-on: ubuntu-22.04

    # env:
      # roslibrust would need this set but going to override it anyhow
      # ROS_PACKAGE_PATH: /usr/share

    steps:
      - name: git clone this
        uses: actions/checkout@v4
        with:
          path: src/mcap_tools

      - name: show source
        run: |
          ls -l src/mcap_tools/mcap_tools

      - name: os version
        run: |
          lsb_release -a

      - name: apt update
        run: |
          sudo apt-get update

      - name: apt upgrade
        run: |
          sudo apt-get upgrade

      - name: apt rust installs
        run: |
          sudo apt-get install -yqq cargo
          sudo apt-get install -yqq rustc
          cargo --version
          rustc --version

      - name: more apt installs
        run: |
          sudo apt install -yqq python3-rosmsg rospack-tools libsensor-msgs-dev libstd-msgs-dev libgeometry-msgs-dev ros-sensor-msgs ros-std-msgs ros-geometry-msgs cargo pkg-config
          sudo apt install -yqq libstd-srvs-dev python3-std-srvs ros-std-srvs
          sudo apt install -yqq libtf2-msgs-dev python3-tf2-msgs ros-tf2-msgs
          sudo apt install -yqq libros-rosgraph-msgs-dev python3-rosgraph-msgs ros-rosgraph-msgs
          sudo apt install -yqq librust-openssl-dev
          sudo apt install -yqq catkin python3-roslaunch
          rospack find geometry_msgs
          echo "ROS_PACKAGE_PATH=`rospack find actionlib_msgs`:`rospack find std_msgs`:`rospack find sensor_msgs`:`rospack find geometry_msgs`:`rospack find rosgraph_msgs`:`rospack find std_srvs`:`rospack find tf2_msgs`" > $GITHUB_ENV

      - run: echo $ROS_PACKAGE_PATH

      - run: echo "PATH=$PATH:$HOME/.cargo/bin" >> $GITHUB_ENV

      - name: build cmd_wrapper
        run: |
          ls -l
          ls -l src/mcap_tools/cmd_wrapper
          catkin_make
          source devel/setup.bash
          rospack find cmd_wrapper

      - name: fmt mcap_tools
        run: |
          cd src/mcap_tools
          cargo fmt --check

      - name: clippy mcap_tools
        run: |
          cd src/mcap_tools
          cargo clippy

      - name: build mcap_tools
        run: |
          echo $ROS_PACKAGE_PATH
          source devel/setup.bash
          echo $ROS_PACKAGE_PATH
          # TODO(lucasw) build docs, and run tests
          cd src/mcap_tools
          cargo install --path .
          mcap_record --version
          mcap_record --help
          which test_generate_messages

      - name: run mcap_record test
        run: |
          source devel/setup.bash
          cd src/mcap_tools/mcap_test_utils
          echo $ROS_PACKAGE_PATH
          # test_generate_messages --help
          ROS_HOME=`pwd` roslaunch mcap_record.test
          mcap_rates -i expected_rates.toml test*mcap
